<% layout("/layouts/boilerplate") %>

<body>
    <div class="row mt-5">
        <div class="col-8 offset-2">
    <h3>create a new listing</h3>
 <form method="POST" action="/listings" novalidate class="needs-validation">
        <div class="mb-3">
        <label for="title" class="form-label" >Title </label>
      <input name="listing[title]" placeholder="add a catchy title" type="text" class="form-control" required>
      <div class="valid-feedback">  Looks good! </div>
      </div>
     
      <div class="mb-3">
     <label for="description" class="form-label">Description</label>
      <textarea name="listing[description]" class="form-control" required ></textarea>
      <div class="invalid-feedback">  Please choose a short description.</div>
      </div>
     <div class="mb-3">
       <label for="image" class="form-label">Image link</label>
      <input name="listing[image]" placeholder="enter image URL/link" type="text"class="form-control" >
     </div>
     <div class="row">
     <div class="mb-3 col-md-4">
       <label for="price" class="form-label">Price</label>
       <input name="listing[price]" placeholder="1200"  class="form-control"required>
       <div class="invalid-feedback">  Please choose a valid price.</div>
      </div>
      <div class="mb-3 col-md-8">
      <label for="country" class="form-label">Country</label>
     <input name="listing[country]" placeholder="India" type="text" class="form-control"required >
     <div class="invalid-feedback">
        Please choose a valid country.
      </div>
      </div>
      </div>
      <div class="mb-3">
     <label for="location" class="form-label">Location</label>
      <input name="listing[location]" placeholder="uttarpradesh" type="text"  class="form-control"required >
      <div class="invalid-feedback">
        Please choose a valid location.
      </div>
      </div>
     <br>
     <button class="btn btn-dark addbtn">Add</button>
    </form>
</div>
</div>

